@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #1f2937;
    
}

.container{
    text-align: center;
}

h2{
    color:bisque;
}
 .output{
    padding-top: 2rem;
    color:white;
    text-align: center;
 }  

 input{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color:transparent ;
    border: 1px solid #67e8f9;
    color: white;

 }
button{
    cursor: pointer;
    padding: 0.3rem;
    text-transform:uppercase;
    background-color: #a5f3fc;
    border: none;
    border-radius: 0.5rem;
}
 